.accordion-button {
    background-color:#ffffff;
}

.accordion-button:not(.collapsed) {
    background-color:#ffffff;
    color:black;
}

.main-container {
    /* background-color: #eeeeee; */
    max-width: 700px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.alert {
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

.alert-warning {
    background-color:#ffac3c;
}

.btn-primary {
    background-color:#eeeeee;
    border-color:#eeeeee;
    color:rgb(96, 96, 96);
}

.btn-primary:hover {
    background-color:#9e9e9e;
    border-color:#9e9e9e;
}

[data-dapp-kit].AccountDropdownMenu_menuContent__div2ql2, [data-dapp-kit] .AccountDropdownMenu_menuContent__div2ql2 {
    width: 200px;
}

.record-container {
    padding: 10px;
    background: white;
    border: solid #d1d1d1;
    border-radius: 5px;
    height: 55vh;
    border-width: thin;
}

.nav-tabs .nav-link {
    color: #757575;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.active>.page-link, .page-link.active {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: black;
}
  
.page-link {
    color: #757575;
}

.page-link:focus, .page-link:hover, .pagination{
    color: black;
    border: #9e9e9e;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    padding: 8px;
  }
  
  .tooltip-text {
    visibility: visible;
    width: 220px;
    background-color: #eeeeee;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: solid #757575;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    opacity: 1;
  }

.button-nav {
    margin-right: 10px;
    background: white;
    border-color: #eeeeee;
    color: black;
    box-shadow: 0 5px 3px rgba(9, 2, 10, .4);
    border-radius: 5px;
}

  .button-nav:hover {
    color: black;
    background-color:white;
    border-color: #eeeeee;
  }

